 .login {
     display: flex;
     align-items: center;
     /* justify-content: center; */
     height: 100vh;
 }

 .login__form {
    margin-left: 5rem;
     background: rgb(181, 181, 181);
     padding: 2rem;
     border-radius: 1rem;
     box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap:1rem;
 }

 .login__form>input {
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: none;
    outline: none;
 }

 .submit__btn {
    border: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
 }

 .submit__btn:active {
    transform: scale(.95);
 }